@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgb(219, 219, 5);
}

label {
    font-size: 12px;
    color: #444444;
}

form {
    display: flex;
    justify-content: center;
}

.container-inputs {
    background-color: #f1f1f1;
    min-width: 50%;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

input {
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(219, 219, 5, 0.8);
}

.btn-adiciona-prato {
    border: 1px solid rgba(219, 219, 5,0.8);
    background-color: rgba(219, 219, 5, 0.6);
    border-radius: 5px;
    font-weight: 500;
    color: #444444;
}

/* Lista Pratos */
.container-lista {
    margin-top: 20px;
    min-width: 50%;
    background-color: #f1f1f1;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 2px;
}

#listando-pratos {
    display: flex;
    flex-direction: column;
}